body{
    background-color: #F7E8A6;
    text-align: center;
}
a{
    color: #569B38;
    margin: 0 10px;
}
img{
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
}
.mail{
    margin: none;
}